.buttons {
  &__item {
    width: 230px;
    padding: 15px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(223, 229, 236);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgb(74, 74, 74);
    cursor: pointer;
  }

  // &__item:first-child {
  //   border-radius: 5px 0px 0px 5px;
  // }
  // &__item:last-child {
  //   border-radius: 0px 5px 5px 0px;
  // }
  &__item:hover {
    padding: 15px;
    box-sizing: border-box;
    // border: 1px solid transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: rgb(241, 252, 255);
    color: rgb(74, 74, 74);
    cursor: default;
  }
  &__item--active {
    background: rgb(33, 150, 243);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    width: 230px;
    box-sizing: border-box;
    border: none;
    flex-grow: 1;
    cursor: pointer;
  }
}

/*padding: 15px;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    cursor: default;*/
